<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPublicEDKey</key>
	<string>2JBOx7W2Vg9AnefgzeXljS5ZMTsZGbf0w3XeLycR0r4=</string>
    <key>SUFeedURL</key>
    <string>https://raw.githubusercontent.com/mohanedy/brew-manager/main/appcast.xml</string>
</dict>
</plist>
